.l-m-nav{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.l-m-nav a {
    width: 100%;
}

.l-m-nav li{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--font-color-2);
    font-weight: 600;
    text-transform: capitalize;
    height: 48px;
    width: 100%;
   padding-left: 20px;
   padding-bottom: 36px;
   padding-top: 36px;
   padding-right: 20px;
   box-sizing: border-box;
}

/* .l-m-nav li:hover{
    background-color: var(--key-color-3);
    
} */


.l-m-nav li:hover{
    cursor: pointer;
    opacity: 0.5;
}
.l-m-nav li.active-link:hover{
    cursor: auto;
    opacity: 1;

}
.l-m-nav li span{
    font-size: 26px;
    margin-right: 20px;
}

.active-link{
    background-color: var(--key-color-3);
    
}

.active-link:hover{
    cursor: auto;
    opacity: 1;
}